@import "../../styles/settings/__settings";

.nav {
  .icon-menu {
    width: 48px;
    height: 48px;
    z-index: 5;
    top: 40px;
    right: 40px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.6s ease;
    box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0.1);
    background: transparent;

    @include sm {
      top: 10px;
      right: 10px;
    }

    span {
      display: flex;
      width: 32px;
      height: 2px;
      background-color: white;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.4s 0.2s ease;

      &:before,
      &:after {
        position: absolute;
        width: 32px;
        height: 2px;
        content: "";
        background-color: inherit;
        transform-origin: center;
      }

      &:before {
        transition: all 0.3s ease;
        top: 14px;
      }

      &:after {
        bottom: 14px;
        transition: all 0.3s ease;
      }
    }

    &:hover {
      transition: all 0.6s ease;
      box-shadow: inset 0px 0px 0px 25px rgba(255, 255, 255, 0.2);

      span {
        &:before {
          top: 11px;
        }

        &:after {
          bottom: 11px;
        }
      }

      @include sm {
        box-shadow: none;
      }
    }

    &.icon-open {
      span {
        width: 0;
        transition: all 0.4s 0.2s ease;

        &:before {
          transition: all 0.4s 0.2s ease;
          top: 22px;
          transform: rotate(45deg);
        }

        &:after {
          transition: all 0.4s 0.3s ease;
          bottom: 23px;
          transform: rotate(-45deg);
        }
      }
    }

    &.sticky {
      transition: all 0.6s ease;
      background: $g-01;
      position: fixed;
    }
  }

  .main-nav {
    display: none;

    .menu {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      z-index: 4;
      display: flex;
      justify-content: center;
      align-items: center;

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        left: 0;
      }

      &:before {
        background-color: white;
        z-index: 2;
        opacity: 0.8;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
      }

      &:after {
        background: $g-01;
        z-index: 3;
      }

      .menu-items {
        z-index: 5;

        .item {
          color: $m-01;
          text-transform: uppercase;
          text-align: center;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 900;
          font-size: 50px;
          line-height: normal;
          letter-spacing: 0.04em;
          color: transparent;
          -webkit-text-stroke: 1px white;
          z-index: 5;
          padding: 10px;
          transition: all 0.4s ease;
          cursor: pointer;
          position: relative;

          @include sm {
            font-size: 40px;
          }

          &:before {
            content: "";
            position: absolute;
            width: 0%;
            height: 60%;
            transition: width 0.6s ease, opacity 2s ease;
            z-index: -1;
            opacity: 0;
            background: $m-01;

            @include sm {
              display: none;
            }
          }

          &:hover {
            color: white;

            @include sm {
              color: transparent;
            }
          }
        }
      }
    }

    &.menu-open {
      display: block;

      .menu {
        &:before {
          animation: menuOpen 1s ease both;
        }

        &:after {
          animation: menuOpen 0.6s 0.3s ease both;
        }

        @keyframes menuOpen {
          0% {
            transform: translateY(-100%);
          }

          100% {
            transform: translateY(0%);
          }
        }

        .menu-items {
          .item {
            animation: itemMenu 0.4s 0.6s ease both;

            @keyframes itemMenu {
              0% {
                transform: translateY(-50px);
                opacity: 0;
              }

              100% {
                transform: translateY(0);
                opacity: 1;
              }
            }

            &:nth-child(1) {
              animation-delay: 0.6s;

              &:before {
                transform: translate(15px, -20px);
              }
            }

            &:nth-child(2) {
              animation-delay: 0.8s;

              &:before {
                transform: translate(-50px, -12px);
              }
            }

            &:nth-child(3) {
              animation-delay: 1s;

              &:before {
                transform: translate(28px, -14px);
              }
            }

            &:nth-child(4) {
              animation-delay: 1.2s;

              &:before {
                transform: translate(-24px, -17px);
              }
            }

            &:hover {
              &:before {
                opacity: 1;
                width: 80%;
                height: 60%;
              }

              &:nth-child(2) {
                &:before {
                  width: 50%;
                }
              }

              &:nth-child(3) {
                &:before {
                  width: 60%;
                }
              }
            }
          }
        }
      }
    }

    &.menu-close {
      .menu {
        &:before {
          animation: menuClose 0.6s 0.3s ease both;
        }

        &:after {
          animation: menuClose 0.6s ease both;
        }

        @keyframes menuClose {
          0% {
            transform: translateY(0%);
          }

          100% {
            transform: translateY(-100%);
          }
        }

        .menu-items {
          .item {
            animation: itemClose 0.4s ease both;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
              animation-delay: 0s;
            }

            @keyframes itemClose {
              0% {
                transform: translateY(0px);
                opacity: 1;
              }

              100% {
                transform: translateY(-100%);
                opacity: 0;
              }
            }
          }
        }
      }
    }
  }
}

  // Header
  .header {
    width: 100%;
    background-image: $g-02;

    .main-heading {
      width: 100%;
      max-width: 1920px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(14, 1fr);
      grid-column-gap: 20px;
      position: relative;
      transition: all 0.4s ease;

      @include sm {
        grid-template-columns: 10px repeat(12, 1fr) 10px;
        grid-column-gap: 10px;
      }

      &:before {
        content: "";
        position: absolute;
        width: 100vw;
        height: calc(100% + 50px);
        background-image: $g-01;
        grid-column-start: 3;
        transition: all 0.4s ease;

        @include md {
          grid-column-start: 2;
        }

        @include sm {
          width: 100%;
          grid-column-end: 15;
          height: calc(100% + 20px);
        }
      }

      article {
        grid-column-start: 3;
        position: absolute;
        z-index: 2;
        color: white;
        margin-top: 70px;

        @include md {
          grid-column-start: 2;
        }

        @include sm {
          grid-column-start: 2;
          margin-top: 40px;
        }

        .site-title {
          font-size: 144px;
          font-weight: 800;
          text-transform: uppercase;
          color: transparent;
          -webkit-text-stroke: 2px white;

          @include sm {
            font-size: 68px;
            -webkit-text-stroke: 1px white;
          }
        }
      }

      .slide-container {
        width: 100%;
        height: 680px;
        grid-column: 4 / 13;
        position: relative;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-column-gap: 20px;

        @include md {
          grid-column: 3 / 14;
        }

        @include sm {
          height: 400px;
        }

        .slide-wrapper {
          display: grid;
          grid-template-columns: repeat(9, 1fr);
          grid-column-gap: 20px;
          grid-column: 1 / 10;

          .slide {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $m-01;
            grid-column: 1 / 9;
            visibility: hidden;
            overflow: hidden;
            height: 480px;
            position: absolute;
            transition: all 0.4s ease;
            z-index: 1;

            @include sm {
              grid-column: 1 / 10;
            }

            &.active {
              opacity: 1;
              visibility: visible;
              height: 480px;
              transition: all 0.4s ease;
              top: 160px;
              background-color: $m-01;

              @include sm {
                height: 300px;
                top: 80px;
              }
            }

            &.next {
              transition: all 0.4s ease;
              width: 260px;
              height: 160px;
              opacity: 1;
              grid-column-end: 10;
              visibility: visible;
              position: absolute;
              right: 0;
              bottom: -50px;

              @include sm {
                display: none;
              }
            }

            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }

            &.anime-in {
              &:before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                background-image: $g-02;
                animation: anime-in-before 0.6s ease both;

                @keyframes anime-in-before {
                  0% {
                    transform: translateX(101%);
                  }
                }
              }

              img {
                animation: anime-in 0.6s 0.4s ease both;
                z-index: 1;

                @keyframes anime-in {
                  0% {
                    transform: translateX(101%);
                  }
                }
              }
            }

            &.anime-next-in {
              img {
                animation: anime-next-in 0.4s 0.2s ease both;
                z-index: 1;

                @keyframes anime-next-in {
                  0% {
                    transform: translateX(101%);
                  }
                }
              }
            }

            &.anime-out {
              &:before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                background-image: $g-02;
                animation: anime-out-before 0.6s ease both;

                @keyframes anime-out-before {
                  0% {
                    transform: translateX(-101%);
                  }
                }
              }

              img {
                animation: anime-out 0.6s 0.4s ease both;
                z-index: 1;

                @keyframes anime-out {
                  0% {
                    transform: translateX(-101%);
                  }
                }
              }
            }

            &.anime-next-out {
              img {
                animation: anime-next-out 0.4s 0.2s ease both;
                z-index: 1;

                @keyframes anime-next-out {
                  0% {
                    transform: translateX(-101%);
                  }
                }
              }
            }
          }
        }

        .slide-arrows {
          position: absolute;
          right: 0;
          display: flex;
          flex-direction: column;
          bottom: 180px;
          width: 60px;
          height: 200px;
          justify-content: center;
          align-items: center;

          @include sm {
            display: none;
          }

          .button-prev,
          .button-next {
            bottom: 0;
            top: initial;
            width: 60px;
            height: 60px;
            position: initial;
            margin-top: 0;
            transition: all 0.4s ease;
            box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
            background-size: 24px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;

            &:focus {
              outline: 0;
            }

            &:hover {
              box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1),
                inset 0px 0px 0px 6px rgba(255, 255, 255, 0.2);
              //background-color: rgba(255,255,255,0.2);
            }
          }

          .button-prev {
            background-image: url('/assets/icon-prev.svg');
          }

          .button-next {
            background-image: url('/assets/icon-next.svg');
            margin-top: 20px;
          }
        }

        .slide-bullets {
          bottom: -50px;
          height: 80px;
          width: calc(100% - 280px);
          position: initial;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          position: absolute;
          grid-column-start: 1;

          @include sm {
            width: 100%;
            bottom: -20px;
          }

          .bullet {
            background-color: transparent;
            opacity: 1;
            box-shadow: inset 0px 0px 0px 1px white;
            width: 8px;
            height: 30px;
            transition: all 0.4s ease;
            margin: 0 10px;

            @include sm {
              width: 6px;
              height: 20px;
              margin: 0 6px;
            }

            &.selected {
              box-shadow: inset 0px 0px 0px 1px white,
                inset 0px -60px 0px 0px white;
              height: 40px;

              @include sm {
                height: 30px;
              }
            }
          }
        }
      }
    }
  }



.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
